{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "Vue": false,
    "weex": false
  },
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "rules": {
    "generator-star-spacing": 0
  }
}
